//#include "resource.h"
#define IDI_MAIN 1

//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
//#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
// Icon

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAIN                  ICON                    "plain/styles/islandpastels/icon.ico"

/////////////////////////////////////////////////////////////////////////////
// Cursor

//IDC_HAND                CURSOR                  "plain/styles/linkhand.cur"
