#include "Version.h"
            
1 VERSIONINFO
FILEVERSION ProgramVersionUsingCommas
PRODUCTVERSION ProgramVersionUsingCommas
FILEFLAGSMASK 0x0000003FL
FILEFLAGS 0
FILEOS 40004h //VOS_NT_WINDOWS32
FILETYPE 1 //VFT_APP
FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion", ProgramVersionStr
            VALUE "ProductVersion", ProgramVersionStr
            VALUE "FileDescription","Views tilemaps and other arrays inside files."
            VALUE "ProductName","TileMapViewer"
            VALUE "Purpose","Views tile map patterns inside files."
            VALUE "LegalCopyright","Copyright\251 2002-2021 Dwayne Robinson"
            VALUE "CompanyName", "PikenSoft"
            VALUE "Mail", "FDwR@hotmail.com"
            VALUE "Website", "http://pikensoft.com/"
            VALUE "Origin", "Earth->UnitedStates.Washington(\042Redmond\042)"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409,1252
    END
END
1 ICON TMV.ICO
