1 VERSIONINFO
;FILEVERSION 2,0,0,0
;PRODUCTVERSION 2,0,0,0
;FILEFLAGSMASK 0x0000003FL
;FILEFLAGS 0x0000000BL
;FILEOS 0x00010001L
;FILETYPE 0x00000001L
;FILESUBTYPE 0x00000000L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion", "1.0"
            VALUE "FileDescription","Scans volume for media files"
            VALUE "LegalCopyright","Copyright\251 2002 Dwayne Robinson"
            VALUE "Company Name", "PeekinSoft"
            VALUE "Author Address", "FDwR@hotmail.com\r\nhttp://fdwr.tripod.com/"
        END
    END
    ;BLOCK "VarFileInfo"
    ;BEGIN
    ;    VALUE "Translation", 0x0409,1252
    ;END
END

1 ICON COPYBAD.ICO

#define IDM_LOAD 1
#define IDM_UPDATE 1
#define IDM_REVERT 1
#define IDM_SCAN 1
#define IDM_NONE 1
1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Scan", IDM_SCAN
        MENUITEM SEPARATOR
        MENUITEM "&Load...", IDM_LOAD
        MENUITEM "&Update", IDM_UPDATE
        MENUITEM "&Revert", IDM_REVERT
        MENUITEM SEPARATOR
        MENUITEM "&Quit", 2  ;IDCANCEL
    END

    POPUP "&View"
    BEGIN
        MENUITEM "(Unfinished)", IDM_NONE
    END

    MENUITEM "&Help", 9 ;IDHELP
END
