1 ICON SETDSKBG.ICO
2 BITMAP SETDSKBG.BMP

1 VERSIONINFO
;FILEVERSION 2,0,0,0
;PRODUCTVERSION 2,0,0,0
;FILEFLAGSMASK 0x0000003FL
;FILEFLAGS 0x0000000BL
;FILEOS 0x00010001L
;FILETYPE 0x00000001L
;FILESUBTYPE 0x00000000L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion", "1.3"
            VALUE "FileDescription","Sets user desktop background"
            VALUE "LegalCopyright","Copyright\251 2002 Dwayne Robinson"
            VALUE "Company Name", "PikenSoft"
            VALUE "Author Address", "FDwR@hotmail.com\r\nhttp://fdwr.tripod.com/"
        END
    END
    ;BLOCK "VarFileInfo"
    ;BEGIN
    ;    VALUE "Translation", 0x0409,1252
    ;END
END
