#include "windows.h"

#include "../ui/UiThemeDefs.h"

1               ICON    "../resources/DWriteIcon.ico"

ToolbarSmall    Image   "../resources/ToolbarImagesSmall.png"
ToolbarLarge    Image   "../resources/ToolbarImagesLarge.png"

MainTheme       Image   "../resources/MainTheme.png"
MainTheme       ImageParts
{
    // Specify the regions in the atlas texture for known controls.
    ThemePartIdWindow,3,                    0,160,  72,72,      13,13,21,21,    0,0,8,8,
    ThemePartIdButton,3,                    0,112,  36,36,      8,8,12,12,      0,0,4,4,
    ThemePartIdButtonMouseFocus,3,          96,112, 36,36,      8,8,12,12,      0,0,4,4,
    ThemePartIdButtonPushed,3,              144,112,36,36,      8,8,12,12,      0,0,4,4,
    ThemePartIdRibbon,3,                    0,0,    16,96,      0,0,0,0,        0,0,0,0,
    ThemePartIdRibbonChunk,3,               80,0,   32,96,      12,24,12,12,    0,0,0,0,
    ThemePartIdTextEditor,3,                152,8,  48,48,      16,16,16,16,    -8,-8,16,16,
    ThemePartIdFlatButtonActive,3,          112,32, 32,32,      9,9,9,9,        -1,-1,2,2,
    ThemePartIdFlatButtonPushed,3,          112,64, 32,32,      8,8,8,8,        0,0,0,0,
    ThemePartIdButtonGroup,3,               112,0,  32,32,      9,9,9,9,        0,0,0,0,
    ThemePartIdStatusBar,3,                 49,33,  30,30,      0,0,0,0,        0,0,0,0,
    ThemePartIdStatusBarDivider,3,          64,17,   7,14,      7,0,0,0,        0,0,0,0,
    ThemePartIdTextEditorBackground,3,      152,8,   1,1,       0,0,0,0,        0,0,0,0,
    ThemePartIdTextEditorHighlight,3,       49,65,   7,14,      3,3,3,3,        -4,-4,8,8,
    ThemePartIdTextEditorHighlightDim,3,    50,82,   1, 1,      0,0,0,0,        0,0,0,0,
    ThemePartIdTextEditorCaret,3,           66,66,   4,14,      4,4,0,4,        -1,-1,4,4,
    ThemePartIdListControlSelection,3,      144,64, 32,32,      9,9,9,9,        -1,-1,2,2,
    ThemePartIdListControlSelectionDim,3,   176,64, 32,32,      9,9,9,9,        -1,-1,2,2,

    // Add padding and margin info for controls.
    ThemePartIdWindowMargin,1,              4,4,4,4,
    ThemePartIdWindowPadding,1,             8,8,8,8,
    ThemePartIdButtonMargin,1,              10,2,10,2,
    ThemePartIdRibbonChunkMargin,1,         0,4,0,0,
    ThemePartIdRibbonChunkPadding,1,        8,26,8,8,
    ThemePartIdRibbonDefaultSize,1,         0,0,16,96,
    ThemePartIdFlatButtonMargin,1,          2,2,2,2,
    ThemePartIdTextEditorMargin,1,          8,8,8,8,
    ThemePartIdTextEditorPadding,1,         8,8,8,8,
    ThemePartIdButtonGroupPadding,1,        2,0,2,0,
    ThemePartIdStatusBarPadding,1,          4,0,4,0,
    ThemePartIdStatusBarDividerSize,1,      0,0,7,16,
    ThemePartIdListControlMargin,1,         4,2,4,2
}
MainTheme       TextFormats
{
    ThemePartIdDefault,
        18,     // size
        400,    // weight: normal
        0,      // slope: normal
        5,      // stretch: normal
        0,      // text alignment: leading
        0,      // paragraph alignment: near
        0,      // wrapping: yes
        L"Segoe UI\0",

    ThemePartIdButton,
        14,     // size
        400,    // weight: normal
        0,      // slope: normal
        5,      // stretch: normal
        2,      // text alignment: center
        2,      // paragraph alignment: center
        0,      // wrapping: yes
        L"Segoe UI\0",

    ThemePartIdLabel,
        12,     // size
        400,    // weight: normal
        0,      // slope: normal
        5,      // stretch: normal
        0,      // text alignment: leading
        0,      // paragraph alignment: near
        0,      // wrapping: yes
        L"Segoe UI\0",

    ThemePartIdFlatButton,
        12,     // size
        400,    // weight: normal
        0,      // slope: normal
        5,      // stretch: normal
        0,      // text alignment: leading
        0,      // paragraph alignment: near
        0,      // wrapping: yes
        L"Segoe UI\0",

    ThemePartIdRibbon,
        12,     // size
        400,    // weight: normal
        0,      // slope: normal
        5,      // stretch: normal
        2,      // text alignment: center
        0,      // paragraph alignment: near
        0,      // wrapping: yes
        L"Segoe UI\0",

    ThemePartIdListControl,
        12,     // size
        400,    // weight: normal
        0,      // slope: normal
        5,      // stretch: normal
        0,      // text alignment: leading
        0,      // paragraph alignment: near
        1,      // wrapping: disabled
        L"Segoe UI\0"

}
