body { font-family: Helvetica, Arial; }

table.cal { font-family: Helvetica, Arial; }

tr.month { }
tr.emptyrow { height: 2px; max-height: 2px; min-height: 2px; }

td { vertical-align: bottom; }
td.day { background-color: lightgrey;
  width: 16px;
  height: 40px;
  vertical-align: bottom;
  color: #202020;
  font-size: 70%;
  text-align: center;
}
td.day:hover { background-color: #e0e0e0; }
td.weekend { background-color: #e0d0d0;
  color: #602020;
}
td.weekend:hover { background-color: #f0e0e0; }
td.today { background-color: darkgray; }

td.monthlabel { border-bottom: thin dotted lightgrey; }
td.lempty { border-left: thin dotted lightgrey;
  border-bottom: thin dotted lightgrey; }
td.rempty { border-right: thin dotted lightgrey;
 border-bottom: thin dotted lightgrey; }

td.monthlabel2 { border-bottom: thin dashed lightgrey; }
td.lempty2 { border-left: thin dashed lightgrey;
  border-bottom: thin dashed lightgrey; }
td.rempty2 { border-right: thin dashed lightgrey;
 border-bottom: thin dashed lightgrey; }

td.monthlabel3 { border-bottom: thin solid lightgrey; }
td.lempty3 { border-left: thin solid lightgrey;
  border-bottom: thin solid lightgrey; }
td.rempty3 { border-right: thin solid lightgrey;
 border-bottom: thin solid lightgrey; }


th { font-size: 35%; 
  width: 16px;
  color: #505050;
}

span.tenth { color: darkgreen; }
span.mstr { color: #b0b0b0;
  font-size: 200%;
}