1 ICON computer.ico
2 ICON pictures.ico
3 ICON media.ico
4 ICON video.ico
5 ICON music.ico
6 ICON audio.ico
7 ICON network.ico
8 ICON favs.ico
9 ICON internet.ico
10 ICON downloads.ico
11 ICON recycled.ico
12 ICON recycled_full.ico
13 ICON media.ico
14 ICON overlay.ico
15 ICON write.ico
16 ICON start.ico
17 ICON sort.ico
18 ICON sortnew.ico
19 ICON temp.ico
20 ICON school.ico
21 ICON diary.ico
22 ICON pics.ico
23 ICON docs.ico
24 ICON cmd.ico
25 ICON emu.ico
